#tabs-container .tab-strip {
    counter-set: tab-number !important;
}

:has(.button-disabled-preview) #tabs-container .tab-strip>span:nth-child(-n + 50) .tab-position::before {
    counter-increment: tab-number !important;
    content: counter(tab-number) !important;
    position: absolute !important;
    top: 1px !important;
    left: 1px !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 3px !important;
    font-size: 7px !important;
    text-align: center !important;
    color: var(--colorFg) !important;
    background-color: var(--colorBgDarker) !important;
    z-index: 1 !important;
}
